{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    // Strict mode
    "strict": [2, "never"],

    // Code style
    "indent": [2, 4, {"SwitchCase": 4, "VariableDeclarator":4}],
    "quotes": [2, "single"]
  }
}
